@{
    ViewBag.Title = "Home Page";
}

<a href="/Home/LoginAsAdmin" class="btn btn-success">Login As Admin</a>
<a href="/Home/LoginAsModerator" class="btn btn-primary">Login As Moderator</a>
<a href="/Home/LoginAsVisitor" class="btn btn-warning">Login As Visitor</a>